/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */
.question-btn {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding: 3%;
}

.chat {
  border-radius: 4px;
}

.highlight {
  background-color: greenyellow;
}

@media only screen and (width <= 768px) {
  .dashboard {
    display: block;
  }

  .question-chat,
  .question-list {
    width: 100%;
    padding: 0;
  }
}